@font-face {
    font-family: fm-normal;
    src: url('fonts/FiraMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: fm-bold;
    src: url('fonts/FiraMono-Bold.ttf') format('truetype');
}

::selection {
    background: #86c2326b;
}

body {
    background-color: #000000;
    color: #979797;
    margin: 0;
    font-family: monospace;
    font-size: 1.2em;
}

#matrixbg {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.center-ascii {
    width: 1000px;
    height: 100%;
    display: flex;
    pointer-events: none;
    z-index: 1000;
    margin: auto;
}

.center-ascii pre {
    margin: auto;
    margin-right: 0;
}

.center-ascii .welcome-container {
    margin: auto;
    font-weight: bold;
    width: 460px;
}

.center-ascii .welcome-container h2 {
    font-size: 4em;
    margin: 0;
}

.center-ascii .welcome-container p {
    margin: 0;
    font-size: 2em;
}

.center-ascii .welcome-container p span {
    margin-left: 10px;
    color: #86C232;
}

#splash {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    overflow: hidden;
}

#splash .scroll-down-text {
    text-align: center;
    width: 100%;
    bottom: 100px;
    pointer-events: none;
    z-index: 1000;
    height: 25px;
}

#splash .polygon,
#projects .polygon {
    position: relative;
    fill: #86C232;
    display: flex;
}

#projects .polygon {
    transform: rotate(180deg);
    margin-top: -1px;
    overflow: hidden;
}

#splash .polygon svg,
#projects .polygon svg {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(1.05);
}

#aboutme {
    width: 100%;
    background-color: #86C232;
    color: #242424;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-me-content {
    margin: auto;
    max-width: 1000px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.about-me-content .left-side {
    flex: none;
    overflow: hidden;
    transform: scale(1.6) skew(45deg);
    pointer-events: none;
}

.about-me-content .left-side img {
    width: 360px;
    transform: skew(-45deg) scale(0.6);
}

.about-me-content .right-side {
    width: 100%;
    margin-left: 10px;
}

.about-me-content .right-side h2 {
    margin: 0;
    font-family: fm-bold;
    font-size: 2em;
}

.about-me-content .right-side p {
    margin: 0;
    font-size: 0.8em;
    font-family: fm-bold;
    text-align: justify;
    line-height: 1.3em;
}

.about-me-content .right-side p a {
    color: #242424;
}

#projects {
    min-height: 1000px;
}

#projects .main-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

#projects .projects-container {
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-title-container {
    display: flex;
    width: 100%;
    border-bottom: 3px solid #86C232;
    margin-top: 50px;
}

.sub-title-container h2 {
    margin: 0;
}

.sub-title-container .triangle {
    width: 0;
    height: 0;
    border-bottom: 28px solid #86c232;
    border-left: 28px solid transparent;
    margin-left: auto;
    margin-right: 0;
}

.sub-title-container .rectangle {
    height: 28px;
    width: 15px;
    background-color: #86C232;
    margin: auto;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.card-container {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: auto;
    height: 423px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

.card-container .card:nth-child(3n+2) {
    margin-left: auto;
    margin-right: auto;
}

.card-container.last-one .card:last-child,
.card-container.last-two .card:last-child,
.card-container.last-two .card:nth-last-child(2) {
    margin-left: auto;
    margin-right: auto;
}

.card .image {
    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: 200px;
    background-image: url(https://stephenmiller.hu/development/img/project2.jpg);
    border-radius: 10px 10px 0px 0px;
    background-size: 100%;
    background-position: center top;
    transition: 0.5s all ease-in-out;
}

.card .image:hover {
    background-size: 103%;
    cursor: pointer;
}

.card .content {
    transition: 0.5s all ease-in-out;
    margin-top: -180px;
}

.card .content .rectangle-container {
    width: 100%;
    height: 15px;
    display: flex;
}

.card .content .rectangle-container .triangle {
    width: 0;
    height: 0;
    border-bottom: 15px solid #181818;
    border-left: 15px solid transparent;
}

.card .content .rectangle-container .rectangle {
    width: 100%;
    height: 15px;
    background-color: #181818;
}

.card .content .text-bg {
    width: 100%;
    height: 220px;
    background-color: #181818;
    border-bottom: 3px solid #86C232;
}

.card .content .texts {
    margin-top: -230px;
    padding-left: 10px;
    padding-right: 10px;
    height: 230px;
    display: flex;
    flex-direction: column;
}

.card .content .texts h2 {
    margin: 0;
}

.card .content .texts p {
    text-align: justify;
    margin-bottom: auto;
    margin-top: 5px;
}

.card .content a {
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: fm-bold;
    color: #979797;
    font-size: 0.8em;
    width: max-content;
    transition: 0.2s all ease-in-out;
}

.card .content a:hover {
    color: #86C232;
}

.photos-container .photo-link {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.photos-container .photo-link a {
    color: #86c232;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
}

.photos-container .photo-link a:hover {
    color: #99db3d;
    cursor: pointer;
}

.photos-container .flexible-photo-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.photos-container .flexible-photo-container .left-side {
    display: flex;
    width: 67%;
    flex-direction: column;
}

.photos-container .flexible-photo-container .left-side .photos-box-1x2 {
    width: 100%;
    height: 500px;
    display: flex;
}

.photos-container .flexible-photo-container .left-side .photos-box-1x2 .big-picture {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.2s all ease-in-out;
}

.photos-container .flexible-photo-container .left-side .photos-box-1x2 .big-picture:hover,
.photos-container .flexible-photo-container .left-side .photos-box-1x2 .right-pictures .photo:hover,
.photos-container .flexible-photo-container .left-side .landscape-photos .photo:hover,
.photos-container .flexible-photo-container .right-side .half-photo:hover,
.photos-container .flexible-photo-container .right-side .full-photo:hover,
.photos-container .bottom-side .full-photo:hover,
.photos-container .bottom-side .half-photo:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.photos-container .flexible-photo-container .left-side .photos-box-1x2 .right-pictures {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.photos-container .flexible-photo-container .left-side .photos-box-1x2 .right-pictures .photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.2s all ease-in-out;
}

.photos-container .flexible-photo-container .left-side .landscape-photos {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.photos-container .flexible-photo-container .left-side .landscape-photos .photo {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.2s all ease-in-out;
}

.photos-container .flexible-photo-container .right-side {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.photos-container .flexible-photo-container .right-side .half-photo {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: 0.2s all ease-in-out;
}

.photos-container .flexible-photo-container .right-side .full-photo {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    transition: 0.2s all ease-in-out;
}

.photos-container .bottom-side {
    display: flex;
}

.photos-container .bottom-side .full-photo {
    width: 67%;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: 0.2s all ease-in-out;
}

.photos-container .bottom-side .half-photo {
    width: 33%;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: 0.2s all ease-in-out;
}

#footer .polygon {
    position: relative;
    fill: #86C232;
    display: flex;
    overflow: hidden;
}

#footer .polygon svg {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

.footer-content {
    background-color: #86C232;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-center-content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-center-content .footer-text {
    color: #242424;
    font-family: 'fm-bold';
    margin-left: 12px;
    font-size: 0.8em;
}

.footer-center-content .fox-logo {
    width: 46px;
}

.footer-center-content .footer-links {
    margin-right: 0;
    margin-left: auto;
}

.footer-center-content .footer-links a img {
    height: 46px;
    transition: 0.2s all ease-in-out;
}

.footer-center-content .footer-links a:hover img {
    filter: brightness(1.7);
}

.full-screen-item-picture-modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.full-screen-item-picture-modal .loading-circle {
    border: 5px solid #ffffff4a;
    border-left: 5px solid transparent;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: block;
    flex: none;
    margin: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.full-screen-item-picture-modal:hover {
    cursor: pointer;
}

.full-screen-item-picture-modal .modal-img {
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 1030px) {
    .center-ascii {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .center-ascii pre,
    .center-ascii .welcome-container {
        font-size: 0.7em;
    }

    .center-ascii pre {
        margin-left: 0;
        margin-right: auto;
    }

    .center-ascii .welcome-container {
        width: 360px;
    }
}

@media (max-width: 960px) {
    .card {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 770px) {
    .center-ascii {
        flex-direction: column;
        overflow: hidden;
    }

    .center-ascii .welcome-container {
        margin: auto;
        margin-bottom: 0;
        overflow: hidden;
        width: 300px;
    }

    .center-ascii .welcome-container h2,
    .center-ascii .welcome-container p {
        text-align: center;
        white-space: nowrap;
    }

    .center-ascii pre {
        margin: auto;
        margin-top: 50px;
    }

    .about-me-content .right-side h2 {
        font-size: 1.6em;
    }

    .about-me-content .right-side p {
        font-size: 0.7em;
    }

    .about-me-content .left-side img {
        width: 300px;
    }
}

@media (max-width: 670px) {
    .card-container {
        display: block;
    }
}

@media (max-width: 630px) {
    .about-me-content .right-side h2 {
        font-size: 1.2em;
    }

    .about-me-content .left-side img {
        width: 250px;
    }
}

@media (max-width: 620px) {
    .about-me-content {
        display: block;
    }

    .about-me-content .left-side img {
        width: 100%;
        margin: auto;
    }

    .about-me-content .left-side {
        display: flex;
        transform: scale(1.4) skew(45deg);
    }

    .about-me-content .right-side {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .photos-container .flexible-photo-container {
        flex-direction: column;
    }

    .photos-container .flexible-photo-container .left-side,
    .photos-container .flexible-photo-container .right-side {
        width: 100%;
        display: block;
    }

    .photos-container .flexible-photo-container .right-side .half-photo {
        width: 50%;
        float: left;
    }

    .photos-container .flexible-photo-container .right-side .full-photo {
        width: 50%;
        float: right;
    }

    .footer-center-content {
        display: block;
    }

    .footer-center-content .fox-logo {
        margin: auto;
        display: block;
        width: 90px;
    }

    .footer-center-content .footer-text {
        text-align: center;
    }

    .footer-center-content .footer-links {
        margin: auto;
        width: max-content;
    }
}